.venv
data/motor
data/motor_imagery
data/motor_imagery_copy
data/test
intermediate_datafiles
data/emotiv/Char
data/emotiv/Digit
data/emotiv/focus
data/emotiv/Image
data/emotiv/*.txt
!data/emotiv/custom
knn_model_binary.pkl
muse_digit
data/speech
muse_scaled.csv
rf_model_emotiv_1890.pkl
EP1.01_resampled.csv
X.pkl
y.pkl
X_uncat.pkl
mindbig_final_df.csv